body{
    margin: 0;
    background-color: pink;
}
html{
    font-family: fantasy ;
}
header{
    background-color: purple;
    color: white;
    padding: 3rem 2rem;
}
header h1{
    font-size: 4rem;
    text-align: center;
}
.contenido{
    width: 400px;
    margin: 0 auto;
}
section article{
    transition: box-shadow 0.3s ease;
    background-color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor:grab;
}

section article h2, section article p{
    margin: 1rem;
}
section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgb(4, 7, 6)
}
footer{
    background-color:rgba(34, 28, 28, 0.582);
}
footer section{
    float: right; 
}
footer p{
    margin: 0;
}
footer a{
    transition: color 0.3s ease;
    color:white;
    text-decoration: none;
    cursor:pointer;
}
footer a:hover{
    color: cornflowerblue;
}